@page "/icons"

<div class="hero py-5 text-center text-lg-start">
    <div class="container-xxl bd-gutter">
        <div class="row flex-lg-row-reverse">
            <div class="col-6 mx-auto col-lg-5 mx-lg-0">
                <img srcset="/assets/img/icons-hero.png, /assets/img/icons-hero@2x.png 2x" src="/assets/img/icons-hero.png" class="img-fluid my-3 mx-auto" alt="Bootstrap Icons" width="450" height="340">
            </div>
            <div class="col-lg-7">
                <a class="d-block d-sm-inline-block py-1 px-3 mb-4 text-decoration-none rounded-3 hero-notice" href="https://blog.getbootstrap.com//2023/09/12/bootstrap-icons-1-11-0/">
                    <strong>New in v1.11.0:</strong> 100 new icons!
                </a>
                <h1 class="f0">Bootstrap Icons</h1>
                <p class="mb-4 f3 font-weight-normal">Free, high quality, open source icon library with over 2,000 icons. Include them anyway you like—SVGs, SVG sprite, or web fonts. Use them with or without <a href="https://getbootstrap.com/">Bootstrap</a> in any project.</p>
                <div class="d-flex flex-column flex-md-row align-items-stretch justify-content-center justify-content-md-start mb-5 fs-5">
                    <div class="fs-5 d-inline-block mb-3 me-md-3 mb-md-0">
                        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="Copy to clipboard"><i class="bi bi-clipboard" aria-hidden="true"></i></button></div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-sh" data-lang="sh"><span class="line"><span class="cl">npm i bootstrap-icons</span></span></code></pre></div>
                    </div>
                    <a class="btn btn-lg btn-figma d-flex align-items-center justify-content-center" href="https://www.figma.com/community/file/1042482994486402696/Bootstrap-Icons" target="_blank" rel="noopener">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" class="me-2" viewBox="0 0 288 432" role="img">
                            <rect width="95.0226" height="142.534" fill="black" fill-opacity="0" transform="translate(1.46603 2.19946) scale(3)"></rect>
                            <path d="M144 216C144 176.641 175.907 144.733 215.267 144.733V144.733C254.626 144.733 286.534 176.641 286.534 216V216C286.534 255.36 254.626 287.267 215.267 287.267V287.267C175.907 287.267 144 255.36 144 216V216Z" fill="#1ABCFE"></path>
                            <path d="M1.46603 358.534C1.46603 319.175 33.3733 287.267 72.733 287.267H144V358.534C144 397.894 112.093 429.801 72.733 429.801V429.801C33.3733 429.801 1.46603 397.894 1.46603 358.534V358.534Z" fill="#0ACF83"></path>
                            <path d="M144 2.19946V144.733H215.267C254.627 144.733 286.534 112.826 286.534 73.4664V73.4664C286.534 34.1068 254.627 2.19946 215.267 2.19946L144 2.19946Z" fill="#FF7262"></path>
                            <path d="M1.46603 73.4664C1.46603 112.826 33.3733 144.733 72.733 144.733L144 144.733L144 2.19941L72.733 2.19941C33.3733 2.19941 1.46603 34.1067 1.46603 73.4664V73.4664Z" fill="#F24E1E"></path>
                            <path d="M1.46603 216C1.46603 255.36 33.3733 287.267 72.733 287.267H144L144 144.733L72.733 144.733C33.3733 144.733 1.46603 176.641 1.46603 216V216Z" fill="#A259FF"></path>
                        </svg>
                        Open in Figma
                    </a>
                </div>
                <script async="" src="https://cdn.carbonads.com/carbon.js?serve=CE7D4277&amp;placement=iconsgetbootstrapcom" id="_carbonads_js"></script><div id="carbonads">
                    <span>

                        <span class="carbon-wrap">
                            <a href="https://srv.carbonads.net/ads/click/x/GTND427LCV7DTK3NCABLYKQUCV7DK5Q7CT7IEZ3JCA7D62QMCK7D62QKCYSDL237CTYICK77C6SIEKQMCKBI523KC6SI6KJJCYYDEK3EHJNCLSIZ" class="carbon-img" target="_blank" rel="noopener sponsored">
                                <img src="https://srv.carbonads.net/static/30242/719965462940ad21c4bd0152867ef8e38cb4fc3f" alt="ads via Carbon" border="0" height="100" width="130" data-no-statview="no" style="max-width: 130px;">
                            </a>
                            <a href="https://srv.carbonads.net/ads/click/x/GTND427LCV7DTK3NCABLYKQUCV7DK5Q7CT7IEZ3JCA7D62QMCK7D62QKCYSDL237CTYICK77C6SIEKQMCKBI523KC6SI6KJJCYYDEK3EHJNCLSIZ" class="carbon-text" target="_blank" rel="noopener sponsored">
                                Fast implementation, a customizable login experience, and flexible user journeys. Try Auth0 for free
                            </a>
                        </span>
                        <a href="http://carbonads.net/?utm_source=iconsgetbootstrapcom&amp;utm_medium=ad_via_link&amp;utm_campaign=in_unit&amp;utm_term=carbon" class="carbon-poweredby" target="_blank" rel="noopener sponsored">ads via Carbon</a>
                        <div class="carbon-pixels" style="display: none;"><img src="https://segment.prod.bidr.io/associate-segment?buzz_key=dsp&amp;segment_key=dsp-19103" border="0" height="1" width="1" alt="ads via Carbon" style="display: none;"><img src="https://secure.adnxs.com/seg?add=37012074&amp;t=2" border="0" height="1" width="1" alt="ads via Carbon" style="display: none;"></div>
                    </span>
                </div>
                <hr class="mx-auto mx-lg-0 my-5">
                <p class="text-muted">
                    Currently <a href="https://github.com/twbs/icons/releases/tag/v1.11.3">v1.11.3</a>
                    <span class="px-1">•</span>
                    <a href="#icons">Icons</a>
                    <span class="px-1">•</span>
                    <a href="/sprite/">Icon Sprite</a>
                    <span class="px-1">•</span>
                    <a href="#install">Install</a>
                    <span class="px-1">•</span>
                    <a href="#usage">Usage</a>
                    <span class="px-1">•</span>
                    <a href="#styling">Styling</a>
                    <span class="px-1">•</span>
                    <a href="#accessibility">Accessibility</a>
                    <span class="px-1">•</span>
                    <a href="https://github.com/twbs/icons">GitHub repo</a>
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
